.item {
    min-height: 50rem;
    min-width: 30rem;
    padding: 60px;
}

.item img {
    width: 80%;
    height: 50%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel {
    display: flex;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}