body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.title-area {
  margin-top: 5%;
  margin-left: 13%;
  margin-bottom: 0%;
}

.title-area-fix {
  margin-top: 0%;
  margin-left: 13%;
  margin-right: 20%;
}

.content-area {
  margin: 0% 10% 0% 15%;
  color: rgb(55, 107, 55);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
